<!DOCTYPE html>
<html>
<head>
    <script>
        function makeBet() {

            fetch("http://localhost:8080/make_bet", {
                "method" : "POST",
                "type" : "SINGLE",
                "user" : "user",
                "start" : "12"
            }).then(() => alert("bet registered"));
        }
    </script>
<style>
table, th, td {
  border: 1px solid black;
  border-color: gold;
  background-color: green;
  color: gold
}

.center {
  margin: auto;
  width: 200px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.red {
    background-color: red;
}

.side { width: 20px; text-orientation: upright; writing-mode: vertical-lr;}
</style>
</head>
<body>

<center><h2 >French Roulette</h2></center>
<table class="center">
    <tr>
        <td colspan="5">0</td>
    </tr>
    <tr>
        <td  class="side" rowspan="4">PASSE</td>
        <td class="red">1</td>
        <td>2</td>
        <td class="red">3</td>
        <td  class="side" rowspan="4">MANQUE</td>
    </tr>
    <tr>
        <td>4</td>
        <td class="red">5</td>
        <td>6</td>
    </tr>
    <tr>
        <td class="red">7</td>
        <td>8</td>
        <td class="red">9</td>
    </tr>
    <tr>
        <td>10</td>
        <td>11</td>
        <td class="red">12</td>
    </tr>
    <tr>
        <td  class="side" rowspan="4">PASSE</td>
        <td>13</td>
        <td class="red">14</td>
        <td>15</td>
        <td  class="side" rowspan="4">PASSE</td>
    </tr>
    <tr>
        <td class="red">16</td>
        <td>17</td>
        <td class="red">18</td>
    </tr>
    <tr>
        <td class="red">19</td>
        <td>20</td>
        <td class="red">21</td>
    </tr>
    <tr>
        <td>22</td>
        <td class="red">23</td>
        <td>24</td>
    </tr>
    <tr>
        <td  class="side" rowspan="4">BLACK</td>
        <td class="red">25</td>
        <td>26</td>
        <td class="red">27</td>
        <td  class="side" rowspan="4">RED</td>
    </tr>
    <tr>
        <td>28</td>
        <td>29</td>
        <td class="red">30</td>
    </tr>
    <tr>
        <td>31</td>
        <td class="red">32</td>
        <td>33</td>
    </tr>
    <tr>
        <td class="red">34</td>
        <td>35</td>
        <td class="red">36</td>
    </tr>
</table>

</body>
</html>
